@model IEnumerable<CarInsurance.Models.Insuree>

@{
    ViewBag.Title = "Index";
}

<h2>Welcome to "The Happy Car" Insurance Company</h2>

<div class="container">
    <br /><br />
    <div class="row">
        <div class="col-sm-6 col-md-6 col-lg-6" style="align-content:center;">
            <button type="button" id="btnGetQuote"><img src="~/Images/getQuoteIcon.png" height="300px" width="300px" /></button>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6" style="align-content:center;">
            <button type="button" id="admin"><img src="~/Images/adminIcon.png" height="300px" width="300px" /></button>
        </div>
    </div>
</div>

@section Scripts
{
    <script>
        $('#btnGetQuote').click(function () {
            window.location.href = "@Url.Action("Create", "Insuree")";
        });
        $('#admin').click(function () {
            window.location.href = "@Url.Action("Index", "Admin")";
        });
    </script>
}
